{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b3ee3a7f-7614-4644-ad07-afa832620b4b/resourcegroups/sql-ds-cmdlet-server9038?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b3ee3a7f-7614-4644-ad07-afa832620b4b/resourceGroups/sql-ds-cmdlet-server9038\",\r\n  \"name\": \"sql-ds-cmdlet-server9038\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1177"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/Subscriptions/b3ee3a7f-7614-4644-ad07-afa832620b4b/resourceGroups/sql-ds-cmdlet-server9038/providers/Microsoft.DataConnect/syncGroups/onesdk2966?api-version=2016-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The resource is not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14775"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b3ee3a7f-7614-4644-ad07-afa832620b4b/resourceGroups/sql-ds-cmdlet-server9038/providers/Microsoft.DataConnect/syncGroups/onesdk2966?api-version=2016-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"interval\": 500,\r\n    \"description\": \"sync-group\",\r\n    \"conflictResolutionPolicy\": \"Memberwin\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk2966\",\r\n  \"id\": \"/subscriptions/b3ee3a7f-7614-4644-ad07-afa832620b4b/resourceGroups/sql-ds-cmdlet-server9038/providers/Microsoft.DataConnect/syncGroups/onesdk2966\",\r\n  \"type\": \"Microsoft.DataConnect/syncGroups\",\r\n  \"location\": null,\r\n  \"properties\": {\r\n    \"description\": \"sync-group\",\r\n    \"interval\": \"500\",\r\n    \"conflictResolutionPolicy\": \"MemberWin\",\r\n    \"schema\": null,\r\n    \"lastSyncTime\": \"2016-06-01T09:08:36.164217Z\",\r\n    \"state\": \"Processing\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1176"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b3ee3a7f-7614-4644-ad07-afa832620b4b/resourceGroups/sql-ds-cmdlet-server9038/providers/Microsoft.DataConnect/syncGroups/onesdk2966/syncMembers/onesdk9110?api-version=2016-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The resource is not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14774"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b3ee3a7f-7614-4644-ad07-afa832620b4b/resourceGroups/sql-ds-cmdlet-server9038/providers/Microsoft.DataConnect/syncGroups/onesdk2966/syncMembers/onesdk9110?api-version=2016-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"syncDirection\": \"Upload\",\r\n    \"description\": \"sync member default\",\r\n    \"databaseType\": \"ConnectionString\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk9110\",\r\n  \"properties\": {\r\n    \"description\": \"sync member default\",\r\n    \"isHub\": null,\r\n    \"isSchemaMaster\": null,\r\n    \"agentName\": null,\r\n    \"onPremisesDatabaseId\": null,\r\n    \"cloudServerName\": null,\r\n    \"cloudDatabaseName\": null,\r\n    \"userName\": null,\r\n    \"password\": null,\r\n    \"connectionString\": null,\r\n    \"syncDirection\": \"Upload\",\r\n    \"state\": \"Provisioning\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1175"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/b3ee3a7f-7614-4644-ad07-afa832620b4b/resourceGroups/sql-ds-cmdlet-server9038/providers/Microsoft.DataConnect/syncGroups/onesdk2966/syncMembers/onesdk9110?api-version=2016-05-01-preview"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b3ee3a7f-7614-4644-ad07-afa832620b4b/resourceGroups/sql-ds-cmdlet-server9038/providers/Microsoft.DataConnect/syncGroups/onesdk2966/syncMembers/onesdk9110/schemas?api-version=2016-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\"tables\": [\r\n    {\r\n      \"columns\": [\r\n        {\r\n          \"errorId\": null,\r\n          \"hasError\": null,\r\n          \"filterIndex\": null,\r\n          \"filterLogicalOperator\": null,\r\n          \"filterOperator\": null,\r\n          \"filterValue\": null,\r\n          \"isFilterable\": null,\r\n          \"isFiltered\": null,\r\n          \"dataSize\": 100,\r\n          \"dataType\": \"String\",\r\n          \"name\": \"b3ee3a7f-7614-4644-ad07-afa832620b4bcolumn1\",\r\n          \"quotedName\": \"b3ee3a7f-7614-4644-ad07-afa832620b4bsql-ds-cmdlet-server9038onesdk9110column1\"\r\n        },\r\n        {\r\n          \"errorId\": null,\r\n          \"hasError\": null,\r\n          \"filterIndex\": null,\r\n          \"filterLogicalOperator\": null,\r\n          \"filterOperator\": null,\r\n          \"filterValue\": null,\r\n          \"isFilterable\": null,\r\n          \"isFiltered\": null,\r\n          \"dataSize\": 200,\r\n          \"dataType\": \"String\",\r\n          \"name\": \"b3ee3a7f-7614-4644-ad07-afa832620b4bcolumn2\",\r\n          \"quotedName\": \"b3ee3a7f-7614-4644-ad07-afa832620b4bsql-ds-cmdlet-server9038onesdk9110column2\"\r\n        }\r\n      ],\r\n      \"errorId\": null,\r\n      \"hasError\": null,\r\n      \"filterClass\": null,\r\n      \"name\": \"MyTable1\",\r\n      \"quotedName\": \"MayQuotedTable1\"\r\n    },\r\n    {\r\n      \"columns\": [\r\n        {\r\n          \"errorId\": null,\r\n          \"hasError\": null,\r\n          \"filterIndex\": null,\r\n          \"filterLogicalOperator\": null,\r\n          \"filterOperator\": null,\r\n          \"filterValue\": null,\r\n          \"isFilterable\": null,\r\n          \"isFiltered\": null,\r\n          \"dataSize\": 100,\r\n          \"dataType\": \"String\",\r\n          \"name\": \"b3ee3a7f-7614-4644-ad07-afa832620b4bcolumn1\",\r\n          \"quotedName\": \"b3ee3a7f-7614-4644-ad07-afa832620b4bsql-ds-cmdlet-server9038onesdk9110column1\"\r\n        },\r\n        {\r\n          \"errorId\": null,\r\n          \"hasError\": null,\r\n          \"filterIndex\": null,\r\n          \"filterLogicalOperator\": null,\r\n          \"filterOperator\": null,\r\n          \"filterValue\": null,\r\n          \"isFilterable\": null,\r\n          \"isFiltered\": null,\r\n          \"dataSize\": 200,\r\n          \"dataType\": \"String\",\r\n          \"name\": \"b3ee3a7f-7614-4644-ad07-afa832620b4bcolumn2\",\r\n          \"quotedName\": \"b3ee3a7f-7614-4644-ad07-afa832620b4bsql-ds-cmdlet-server9038onesdk9110column2\"\r\n        }\r\n      ],\r\n      \"errorId\": null,\r\n      \"hasError\": null,\r\n      \"filterClass\": null,\r\n      \"name\": \"MyTable2\",\r\n      \"quotedName\": \"MayQuotedTable2\"\r\n    }\r\n  ],\r\n  \"lastSchemaUpdate\": \"2016-06-01T09:07:38.4664291Z\"\r\n]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14773"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-GetSyncMemberSchema": [
      "onesdk2966",
      "onesdk9110"
    ]
  },
  "Variables": {
    "SubscriptionId": "b3ee3a7f-7614-4644-ad07-afa832620b4b",
    "TenantId": "f686d426-8d16-42db-81b7-ab578e110ccd",
    "Domain": "microsoft.com",
    "User": "fangl@microsoft.com"
  }
}